ul#settingsNav {
  margin:0 0 25px 0;
  padding: 6px;
  border: {
    style: solid;
    color: #cdcdcd;
    top: { width: 1px; }
    bottom: { width: 1px; }
  }
  
  li {
    float: left;
    margin: 0 8px;
    a {
      display: block;
      padding: 8px;
      font-weight: bold;
      &:hover {
        background: #bbf1a6;
        color: #333;
      }
    } 
  }
  li.active {
    a {
      background: #8fe86b;
      color: #333;
    }
  }
}

.avatarOptions {
  float: left;
  margin-left: 20px;
  
  .avatarOption {
    display: block;
    margin: 8px 0;
  }
}

.avatarUpload {
  display: none;
  input {
    border: none;
    font-size: 14px;
    font-weight: normal;
  }
}