<li>
  <div class="comment cf">
    <a class="profile_photo" href="/user/{{objects.user.id}}"><img src="http://placehold.it/40x40" alt=""></a>
    <div class="message">
      <p><a href="/user/{{objects.user.id}}">{{objects.user.name}}</a> {{data.comment}}</p>
      <div class="option_footer">
        <abbr class="timestamp livetimestamp">just now</abbr>
      </div>
    </div>
  </div>
</li>