.empty
.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
*.log
.sass-cache/
public/uploads/tmp
public/stylesheets/application.css
public/stylesheets/external.css
public/stylesheets/project_profile.css

