.form-description {
  p {
    font-family: facitweb,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7em;
    margin: 0 0 25px 0;
    color: #555;
  }
}

form .input {
  float: left;
  margin-left: 25px;
  width: 485px;
  span.media {
    display: block;
    float: left;
    margin-right: 10px;
  }
}

.input-xxlarge, input.xxlarge, textarea.xxlarge, select.xxlarge {
  width: 475px;
}