#photo_gallery {

  ul.upload_select {
    list-style: none;
    margin: 0 0 15px 0;
    li { float: left; margin-right: 20px; position: relative; }

    a {
      position: relative;
      padding-left: 23px;
      display: block;
      cursor: pointer;
      line-height: 14px;
      font-weight: 600;
      img {
        position: absolute;
        left: 0;
        top: -2px;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  #uploader #uploader_container { padding: 0; }

  ul.photos {
    margin: 0;
    padding: 5px 0;

    li {
      float: left;
      list-style: none;
      margin: 5px 0 5px 10px;
    }

    li:nth-child(5n+1) { margin-left: 0; }
  }
}