#messageInbox {
	
	.notice {
		color: #a11000;
	}
	
	#messageOptions {		
		li {
			float: left;
			a {
				display: block;
				@include green-gradient();
				@include rounded(4px);
				color: #222;
				border: 1px solid #5E9732;
				padding: 4px 8px;
				font-size: 12px;
			}
		}
	}
	
	p#empty {
		font-weight: bold;
		font-size: 18px;
		margin: 75px 0;
		text-align: center;
	}
	
	#inbox {
		margin: 35px 0;
		border: 1px solid #d4d4d4;
		padding: 0 0 50px 0;
		li {
			background: #eee;
			padding: 10px;
			border-bottom: 1px solid #c3c3c3;
			a {
				color: #222;
			}
			span.author {
				float: left;
				width: 200px;
			}
			span.subject {
				float: left;
				width: 625px;
				em {
					font-weight: normal;
					color: #999;
				}
			}
			span.date {
				float: right;
				color: #666;
			}
		} // closes li
		
		li.unread { font-weight: bold; }
	} // closes #inbox
	
} // closes #messageInbox


#messageOptions {
	margin: 0 0 25px 0;
	li {
		float: left;
		a {
			display: block;
			padding: 8px 10px;
		}
	}
	li#inbox a {
		@include grey-gradient();
		color: #222;
		-webkit-border-radius: 4px 0 0 4px;
	  -moz-border-radius: 4px 0 0 4px;
	  border-radius: 4px 0 0 4px;
		border: 1px solid #a1a1a1;
	}
	li#delete a {
		@include red-gradient();
		color: #222;
		-webkit-border-radius: 0 4px 4px 0;
	  -moz-border-radius: 0 4px 4px 0;
	  border-radius: 0 4px 4px 0;
		border-top: 1px solid #c31400;
		border-right: 1px solid #c31400;
		border-bottom: 1px solid #c31400;
	}
}

#messageHeader {
	padding: 0 0 18px 0;
	margin: 0 0 18px 0;
	border-bottom: 1px solid #cdcdcd;
	p {
		margin: 2px 0;
		span.label {
			font-weight: bold;
			width: 65px;
			float: left;
			display: block;
		}
	}
}

