/* Individual Project Page */
#projectHeader {
	background: #231f20 url('/img/desc-shadow.png') top repeat-x;
	width:100%;
	padding: 25px 0;
	margin: 0 0 25px 0;
	h1 { 
	  color: #eee;
	  text-shadow: -1px -1px 2px #333;	
	}
	.options {
		a {
			display: block;
			font-weight:bold;
			margin: 4px 0;
			@include green-gradient();
			@include rounded(4px);
			color: #222;
			padding: 8px;
			text-shadow: -1px 1px 2px #e5e5e5;
		}
	}
}

#projectSidebar {
	float: left;
	width: 367px;
	img { 
		display:block; 
		margin: 0 auto 20px auto; 
		padding: 8px;
		background: #fff;
		border: 1px solid #ddd;
	}
	
	.groupActionButton { display: block; width: 85%; margin: 0 auto;}
	
	ul#groupVitals {
		margin: 20px 0 0 0;
		color: #222;
		li { margin: 10px 0; }
	}
}

#projectInfo {
	width: 568px;
	float: right;
	color: #222;
	position: relative;
	
	ul#tabbedNav {
		padding: 0 8px;
		margin: 0 0 15px 0;
		border-bottom: 1px solid #cdcdcd;
		li {
			@include rounded-top();
			margin: 0 2px 0 0;
			float: left;
			background: #F8F9F7;
			border: 1px solid #cdcdcd;
			border-bottom: none;
			a {
				display: block;
				border-bottom: none;
				padding: 8px 20px;
				font-size: 15px;
				font-weight: bold;
				
				color: #A0CF67;
				span {
					display: block;
					font-size: 12px;
					margin: 5px 0 0 0;
					color: #231F20;
					font-weight: normal;
				}
			}
		}
		li.active {
			@include green-gradient();
			border: 1px solid #5b842a;
			border-bottom: none;
			a {
				color: #231F20;
				span { color: #F8F9F7; }
			}
		}
	}
	
	#comments { display: none; }
	
	article {
		border-bottom: 1px solid #cdcdcd;
		margin: 0 0 25px 0;
		padding: 0 8px;
		h3 { margin: 0 0 10px 0; }
	}
}