.header.group
  .th.group_name Group Name
  .th.group_organization Organization Name
  .th.group_status Status

.table
  - @groups.each do |group|
    .tr.group{:class => cycle("odd", "even")}
      .td.group_name= link_to group.display_name, "/admin/groups/#{group.id}"
      .td.group_organization= group.organization
      .td.group_status= group.status