.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active <a href="/admin/groups">Active</a>
      %li.last <a href="/admin/group_requests">Pending</a>
      
  .content
    .group
      %h2.title.left All Groups
        
    .inner
      - if @groups.empty?
        %p No Groups
      - else
        %div#groupsTable.adminTableView
          = render :partial => "groups_table"