/**************************************************/ 
/*  Title:   Global styles for screen media
/*  Author:  cs62@txstate.edu
/**************************************************/ 

/* BASE
--------------------------------------------------------------------------------- */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 62.5%;
	background: #fff;
	text-align:center;
}

/* Links */

a:link, a:visited {
	color: #369;
	text-decoration:none;
	outline: none;
}

a:hover {color: #39c;}

/* Misc */

hr, .hide {display: none;}

a img {border: none;}

/* self-clear floats */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.left {float:left;}
.right {float:right;}


/* BASE FONT STYLES
--------------------------------------------------------------------------------- */

h1 {
	font-size:44.202px;
}

h2 {
  font-size:33.160px;
}

h3 {
  font-size:24.876px;
}

h4 {
  font-size:18.662px;
}

p {
  font-size:14px;
	margin:0 0 1em 0;
	line-height:1.6em;
}

/* STRUCTURE
--------------------------------------------------------------------------------- */


#wrapper {
	margin:0 auto;
	text-align:left;
	width:960px;
	position:relative;
	
	#content {
	  margin:25px 0;
	  font-size: 14px;
	}
}


/* ROUNDED
--------------------------------------------------------------------------------- */

@mixin rounded($radius: 6px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border--radius: $radius;
}

@mixin rounded-top($radius: 6px) {
  -webkit-border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  border-radius: $radius $radius 0 0;
}

@mixin rounded-bottom($radius: 6px) {
  -webkit-border-radius: 0 0 $radius $radius;
  -moz-border-radius: 0 0 $radius $radius;
  border-radius: 0 0 $radius $radius;
}


/* GRADIENTS
--------------------------------------------------------------------------------- */




/* TEXT SHADOW
--------------------------------------------------------------------------------- */



/* HEADER
--------------------------------------------------------------------------------- */

#top {
  position:absolute;
  top:0;
  width:100%;
  height:50px;
  border-bottom:1px solid #000;
}

header {
  width:100%;
  height:50px;
  
  h1 {
    font-size:22px;
    padding:10px 0 0 0;
  }
  
  p {
    font-size:14px;
    padding:12px 0 0 0;
  }
}

/* PAGE TITLES
--------------------------------------------------------------------------------- */

h2.pageTitle {
  font-size:22px;
  margin-bottom:12px;
}
