#groupTop {
  
  ul#actions {
    float: right;
    li {
      float: left;
      margin: 0 0 0 15px;
      line-height: 33.160px;
      a {
        font-size: 13px;
        font-weight: normal;
        background: #cdcdcd;
        padding: 6px 8px;
        color: #333;
        &:hover { background: #dedede;}
      }
    }
  }
  
}


#groupSidebar {
  width: 367px;
  margin: 25px 0;
  
  img#groupLogo {
    border: 1px solid #cdcdcd;
    padding: 8px;
  }
  
  .groupActionButton {
    margin: 20px 0;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 8px;
    border: 1px solid #ababab;
    background: #cdcdcd;
    color: #333;
    font-weight: bold;
  }
  
  #groupVitals {
    li { margin: 8px 0; }
  }
  
  #groupMemberList {
    margin: 20px 0;
    ul {
      margin:15px 0;
      li {
        margin: 8px 0;
        font-weight: bold;
        line-height: 25px;
        img { 
          float: left;
          margin-right: 10px;
        }
      }
    }
  }

}


#groupContent {
  width: 563px;
  padding:0 0 0 30px;
  margin: 25px 0;
}