ul#projectsList {
  li {
    float:left;
		width:200px;
    margin:25px;

		img {
			display:block;
			margin:0 0 8px 0;
		}
		
		strong {
			display:block;
			font-size:16px;
			margin: 0 0 5px 0;
			text-transform: capitalize;
		}
		
		span {
			display:block;
			text-transform: capitalize;
		}
  }
	
	.nthLeft { margin-left: 0;}
	.nthRight { margin-right: 0;}
}