.block
  .content
    %h2.title All Groups
    .inner
      - if @groups.all.empty?
        %p No Groups
      - else
        %div#groupsTable.adminTableView
          = render :partial => "admin/partials/groups_table"