.block
  .content
    .group
      %h2.title.left All Registered Users
      %ul#sort.userSort.right.group
        %li <a href="#original-order" class="selected">original-order</a>
        %li <a href="#name">name</a>
        %li <a href="#group">group</a>
        %li <a href="#role">role</a>
        
    .inner
      - if @users.all.empty?
        %p No Registered Users....Ouch
      - else          
        %div#usersTable.adminTableView
          = render :partial => "admin/partials/users_table"