.block
  .content
    %h2.title All Group Requests
    .inner
      - if @groups.empty?
        %p No pending group requests
      - else
        %table.table
          = render :partial => "admin/partials/requests_table"