.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "Active Grant Applications", "/admin/grants"
      %li.active= link_to "Pending Grant Applications", "/admin/grants/pending"
          
  .content
    %h2.title Pending Mini-Grant Applications
    .inner
      - if @grants.empty?
        %p No pending grant applications. Your on top of your game!
      - else
        %table.table
          = render :partial => "admin/partials/grants_table"