.block
  .secondary-navigation
    %ul.wat-cf
      %li.first <a href="/admin/groups">&laquo; back</a>
      
  .content
    %h2.title View Group
    .inner
      %table.table
        = form_for @group, :url => "/admin/groups/#{@group.id.to_s}", :method => :put do |f|
          = errors_for(@group, "Oops, there were some problems with your group information").html_safe
          = render :partial => "admin/partials/group", :locals => {:f => f}
          
          %p.group.formAction
            %button.approve.submit{:type => 'submit'} Update