.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "Active Grant Applications", "/admin/grants"
      %li= link_to "Pending Grant Applications", "/admin/grants/pending"
  
  .content
    %h2.title Grant Application
    .inner
      %table.table
        = render :partial => "admin/partials/grant"
        
= content_for :sidebar, render(:partial => 'admin/partials/sidebar')