.block
  .content
    %h2.title Pending Group Request
    .inner
      %table.table
        = render :partial => "admin/partials/request"
        
= content_for :sidebar, render(:partial => 'admin/partials/sidebar')