#join {
  width: 800px;
  margin: 0 auto;
  
  div {
    width: 340px;
    padding:2em;
  }
  
  .left { border-right: 1px solid #ccc; }
  
  h3 { margin-bottom: 1em; }
  
  a { @include button-gradient(); display: block; }

    a:hover { @include button-gradient-hover(); }
}