#page-sections.cf
  - if current_user
    #activity_feed.section.wall.timeline
      %h2.heading Activity Feed

      = render :partial => "timeline/timeline", :locals => { timeline: @timeline, section: 'group', composer: true, composer_path: group_comments_path(@group) }

  #info_view.section.info{ style: ('display:none;' if current_user) }
    %h2.heading Group Info

    = render :partial => "info"