// :display_name (required)
= build_field('text_field', f, 'display_name', @group, { help_block: "What is the name of your group?" }).html_safe

// :city (required)
= build_field('text_field', f, 'city', @group, { help_block: "Where in <strong>Texas</strong> is your group located?" }).html_safe

// :organization (required)
= build_field('text_field', f, 'organization', @group, { help_block: "What organization do you belong to? <strong>ex: church name, school name</strong>" }).html_safe

// :description
= build_field('text_area', f, 'description', @group, { help_block: "What does your group do?" }).html_safe