- if current_user
  %div#groupMemberList
  
    %h4
      Member List
      
    %ul
      - @group.users.each do |member|
        %li.group
          = image_tag(member.avatar_url(:thumb))
          = member.name