%ul#profile_menu.menu
  %li
    %a#wall{ href: group_projects_path(@group) }
      = image_tag '181-hammer.png', width: 10
      %span Wall
  %li
    %a#info{ href: group_projects_path(@group) }
      = image_tag '181-hammer.png', width: 10
      %span Info
  %li
    %a#projects{ href: group_projects_path(@group) }
      = image_tag '181-hammer.png', width: 10
      %span Projects