%ul#profile_menu
  %li
    %a{ href: group_projects_path(@group) }
      = image_tag '181-hammer.png', width: 10
      %span Info
  %li
    %a{ href: group_projects_path(@group) }
      = image_tag '181-hammer.png', width: 10
      %span Projects