= title "TAG LINE HERE"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          TAG LINE HERE


%div#groupIndex.centeredWrap.group

  %p
    Blah Blah Blah