= title "Membership Request"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Request To Join Group

%div#membershipRequestForm.centeredWrap.group            
  %h3.approvalMessage Your request has been sent for approval.
  %div.buttonWrap
    %a.backButton{:href => "/groups/#{@group.permalink}"} back to group