= title "Membership Request"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Request To Join Group

%div#membershipRequestForm.centeredWrap.group            
  %p
    Request Was Sent For Approval