= title "Create A Group"

.row
  %section.span4.form-description
    %h2.heading Create a New Say What! Group

    %p We welcome any school or organization that works with youth and tobacco prevention to sign-up. 

    %p Once your group application has been submitted you should hear back from us in a day or two to let you know if your application has been approved.

  %section.span11.offset1
    %fieldset
      %legend Say What! Group Application

      = form_for @group do |f|

        = errors_for(@group, "error", "<strong>Uh-Oh! There was an error!</strong> try fixing the fields below and try again.").html_safe

        = render :partial => "form", :locals => { f: f }

        .actions
          %input{:type => "submit", :class => "btn primary", :value => "Send for Approval"}