= title "Group Request"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Create a New Group

%div#membershipRequestForm.centeredWrap.group            
  %p
    Request Was Sent For Approval