%div
  %h2
    Congratulations! Your group, 
    =@group.display_name 
    has been approved.
    
  %p
    Your group is almost ready! First there are a few things that need to be setup before your group can become active.
    
  %p
    Let's get started.
    
  =link_to "Continue", "/setup/password"