= title "Admin"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Admin        

%div.centeredWrap
  %ul.group
    %li
      = link_to "Manage Group Requests", "/groups/pending_groups"

