@import url('base.css');

/* Layout */

#top {
	width: 100%;
	background: #A0CF67;
	border-bottom: 1px solid #88c340;
}

	#top span {
		display: block;
		width: 940px;
		padding: 8px 10px;
		margin: 0 auto;
	}
	
		#top span a {
			color: #222;
			font-weight: bold;
			font-size: 16px;
			padding: 4px 8px;
		}

header, #content {
	width: 940px;
	margin: 0 auto;
}

header {
	padding: 0 20px 25px 20px;
	border-bottom: 1px solid #aaa;
}

	header h1 {
		text-indent: -9999em;
    margin: 8px 0 0 0;
	}
	
		header h1 a {
			display: block;
    	width: 316px;
    	height: 144px;
    	background: url("../img/logo.png") no-repeat;
		}

	header h3 {
		font-size: 26px;
		line-height: 144px;
		margin: 0 100px 0 0;
	}

#content { padding: 20px 20px 0 20px; }

/* Home Page */

#resourceWrapper {}

	#resourceWrap h2 {
		font-size: 28px;
		color: #222;
		text-shadow: -1px 1px 2px #e5e5e5;
		margin: 0 0 25px 0;
	}
	
	#resourceWrap p { font-size:15px; }
	
/* Main Navigation */	

ul#largeResourceNav {	width: 410px; margin: 25px auto; }

	ul#largeResourceNav li {
		font-size:25px;
    margin:40px 0;
    width:410px;
	}
	
		ul#largeResourceNav li a {
			display:block;
    	padding:15px;
    	text-align:center;
			border: 1px solid #5E9732;
    	-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
			border-radius: 6px;
			background: #A0CF67;
		  background: -moz-linear-gradient(top, #a0cf67 0%, #88c340 45%, #76ab36 100%);
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0cf67), color-stop(45%, #88c340), color-stop(100%, #76ab36));
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0CF67', endColorstr='#76AB36',GradientType=0 );
		  text-shadow: -1px 1px 2px #e5e5e5;
    	-webkit-background-clip: padding-box;
    	color:#222;      
		}
		
			ul#largeResourceNav li a:hover {
				background: #76AB36;
				background: -moz-linear-gradient(top, #76ab36 0%, #88c340 45%, #a0cf67 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76ab36), color-stop(45%, #88c340), color-stop(100%, #a0cf67));
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76AB36', endColorstr='#A0CF67',GradientType=0 );
			}


/* Inner Navigation */

ul#smallResourceNav {	margin: 0 0 25px 0; }

	ul#smallResourceNav li {
		font-size: 15px;
    float:left;
    margin-right: 30px;
	}
	
		ul#smallResourceNav li a {
			display:block;
    	padding: 6px 12px;
    	text-align:center;
			border: 1px solid #5E9732;
    	-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
			border-radius: 6px;
			background: #A0CF67;
		  background: -moz-linear-gradient(top, #a0cf67 0%, #88c340 45%, #76ab36 100%);
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0cf67), color-stop(45%, #88c340), color-stop(100%, #76ab36));
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0CF67', endColorstr='#76AB36',GradientType=0 );
		  text-shadow: -1px 1px 2px #e5e5e5;
    	-webkit-background-clip: padding-box;
    	color:#222;      
		}
		
			ul#smallResourceNav li a:hover {
				background: #76AB36;
				background: -moz-linear-gradient(top, #76ab36 0%, #88c340 45%, #a0cf67 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76ab36), color-stop(45%, #88c340), color-stop(100%, #a0cf67));
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76AB36', endColorstr='#A0CF67',GradientType=0 );
			}


/* Inner Pages */

#resourceWrap.inner h2 span {
	display: block;
	font-size: 20px;
	color: #555;
}

/* Gallery Layout */

#galleryLayout ul.galleryDownloads {
	margin:0 0 50px 0;
}

#galleryLayout a { color: #76ab36; }
	#galleryLayout a:hover { color: #64912e; }

	ul.galleryDownloads li {
		float:left;
		width:144px;
		height: 320px;
  	margin:25px 40px;
	}
	
		ul.galleryDownloads li img {
			margin:0 0 8px 0;
			display:block;
			padding: 4px;
			background: #fff;
			border: 1px solid #ddd;
		}

		ul.galleryDownloads li strong {
			display: block;
			font-size: 16px;
			padding: 4px;
		}
		
		ul.galleryDownloads li ul { margin: 12px 0 0 20px; }
		
			ul.galleryDownloads li ul li {
				font-size: 14px;
				height: auto;
				margin: 5px 0;
				list-style: disc;
			}
			
				ul.galleryDownloads li ul li a { text-decoration: underline;}
				

.linkList { margin: 20px 0; }				

	.linkList li {
		font-size: 16px;
		margin: 14px 0;
	}
	