= title "History"
= description "In 2010, the Department of State Health Services called on the Texas School Safety Center (TxSSC) to develop and maintain a Texas youth leadership and activism movement to be implemented in coordination with existing youth tobacco prevention stakeholders to link all youth groups in Texas who are working to make a difference in their schools and communities in tobacco prevention and cessation."

.row
  %article.span9.columns
    %h2.heading History

    %p In 2010, the Department of State Health Services called on the <a href="http://txssc.txstate.edu">Texas School Safety Center</a> <strong>(TxSSC)</strong> to develop and maintain a Texas youth leadership and activism movement to be implemented in coordination with existing youth tobacco prevention stakeholders to link all youth groups in Texas who are working to make a difference in their schools and communities in tobacco prevention and cessation.

    %p Throughout that year, TxSSC gathered input and direction from the key teen stakeholders during an extensive brainstorming process surrounding the name, look and focus for the youth movement brand.

    %h2 Launch

    %p Say What! officially launched to the State of Texas on March 23, 2011 in conjunction with Texas Tobacco-Free Kids Day. Since then, efforts have been concentrated on spreading the movement through local projects supported by Say What! Mini-Grants and by allowing groups to adopt and adapt the Say What! logo and other movement graphics to fit their needs.

    %p In addition, TxSSC implemented an online tracking system for local youth group activities, measuring progress, and rewarding groups based on level of participation. The website is constantly being updated regarding the functionality of the networking features that will make it more user friendly to youth groups across Texas.

  %aside.span6.offset1.columns
    %dl
      %dt Why a youth-led movement?
      %dd A movement developed by young people to reach their peers will expand the state’s ability to implement their own strategies regarding prevention, second-hand smoke, cessation, disparities and youth access in a more efficient manner by leveraging the resources that active youth groups already have at their disposal and will compliment the already existing tobacco prevention resources. A cohesive connection between all youth-focused prevention efforts across the state will allow students to be part of something that extends beyond their own community.
      %dt Why "Say What!"?
      %dd When Say What! was branded, the youth involved knew it was important to give credit to everyone working towards reducing tobacco use in Texas. Say What! recognizes these efforts right in its name: Students, Adults and Youth Working Hard Against Tobacco.