= title "Changing How Texans View Tobacco Use"
= description "The Say What! Movement was created and designed by more than 250 young people from across Texas to link to all high school groups in Texas who are actively working to eliminate tobacco from their schools and communities. By linking our efforts we have a unified voice to create change across the state."

%div#projectHeader
  %div#aboveFold.centeredWrap.group
    %h2
      Changing How Texans View Tobacco Use 

    %p The <strong>Say What! Movement</strong> was created and designed by more than 250 young people from across Texas to link to all high school groups in Texas who are actively working to eliminate tobacco from their schools and communities. 

    %p By linking our efforts we have a unified voice to create change across the state.