= title "Join"

#projectHeader
  .centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Join Say What!
          
#join.centeredWrap.group  
  .left
    %h3 Start a Group
    %p
      Register your local group on the Say What! network.
      %span <em>Note:</em> Only adult sponsors may register a group.
    %a{:href => "/groups/new"} Start a Group
  
  .right
    %h3 Join a Group
    %p 
      Find a group in your area to join and see what other groups around the state are working on.
    %a{:href => "/groups"} Find a Group
  
      
