= title "Join"

%div#projectHeader
  %div.centeredWrap.group
    %header.group
      %hgroup.left
        %h1
          Join Say What!
          
%div.centeredWrap.group  
  %div.left
    %p Request to create a new group
    %a{:href => "/groups/new"} Request a new Group
  
  %div.right
    %p Join a group in your community
    %a{:href => "/groups"} Find a group
  
      
