= title "Who Is Leon?"
= description "Leon is one of many Paquarians, known on the planet Clarus Tellus as 'peaceful warriors' because of their intense commitment to bringing safety and happiness to others through education, prevention &amp; legislation."

.row
  %article.span12.offset2.columns
    %h2 Who Is Leon?

    %p Leon is one of many Paquarians, known on the planet Clarus Tellus as "peaceful warriors" because of their intense commitment to bringing safety and happiness to others through education, prevention &amp; legislation.

    %p Even though many look at Leon and think he's just a cute and happy furball, he's actually a fireball when it comes to cleaning up the air in our world so that EVERYONE can live longer, healthier, happier lives. It is rumored that if you push his belly button like the Pillsbury doughboy, he instead will shout, "SUSUFT!!!"

    %h2 Clarus Tellus

    %p On Clarus Tellus the atmosphere is completely free of any pollution or contaminants, in particular tobacco smoke and the <a href="http://www.tobaccofreekids.org/facts_issues/fact_sheets/toll/products/smoking/">over 4000 chemicals &amp; 50+ cancer-causing agents</a> it contains. In fact, Paquarians don't even have a word that means "pollution" in their language!

    %p Leon left Clarus Tellus in 2000 – two years after Texas successfully sued the tobacco companies in 1998 and <a href="http://www.dshs.state.tx.us/tobacco/settlement.shtm">won $17.3 billion</a> towards tobacco prevention and education – and arrived last year in 2010.

    %h2 Leon's Trip

    %p Leon chose to come to Earth when he found out that people smoke tobacco and deliberately contaminate the air that people breathe. His goal is to make Texas and eventually the entire world a place where people don't have to worry about <a href="http://www.tobaccofreekids.org/facts_issues/fact_sheets/toll/products/secondhand_smoke/">breathing in tobacco smoke</a>, especially since tobacco use is the single greatest preventable cause of premature death and disease.

    %p Why did Leon come to Texas? The Duck sent a message into outer space using the internet in 2000 asking for help to unify the tobacco prevention efforts of youth and adults across Texas.

    %p No one knows exactly how old Leon is, though he'll smile and tell you that he's somewhere between 3,260 and 24,500 years old! <sup><a href="#footnote-1">[1]</a></sup>

    %h2 Random Leon Facts
    
    %p.list <strong>Random fact #1:</strong> Leon left his nose on Clarus Tellus so he would be safe from tobacco smoke and other pollutants in the air.

    %p.list <strong>Random fact #2:</strong> When Leon arrived in Texas and met the Teen Ambassadors, the first thing he said was "SUSUFT!", to which they replied "SAY WHAT!" When they asked him what SUSUFT! meant, Leon told them, "Stand Up, Speak Up, Be Tobacco Free!"

    %p.list <strong>Random fact #3:</strong> There is another Paquarian secretly hiding on Earth unknown to Leon.</p>

    .footnotes
      %p#footnote-1 <a href="http://www.tobaccofreekids.org/facts_issues/toll_us/texas">[1]</a> 3,260 people die in TX each year due to secondhand smoke, while 24,500 people die in TX each year from their own smoking.