= title "TTFKD"
= description ""

.row
  %article.span12.offset2.columns
    %h2.heading Texas Tobacco-Free Kids Day 03-21-12

    %p <img src="/resources/img/downloads/TTFKD-Logo.jpg" style="float: left; margin: 0 18px 0 0;"> Get your school ready for TTFKD 2012 now! Your school can do something as simple as broadcasting tobacco-free messages on announcements or as elaborate as organizing students for a major educational activity.

    %p Texas Tobacco-Free Kids Day (TTFKD) is an annual awareness day in Texas to encourage students of all ages to live tobacco-free lifestyles. Sponsored by the Texas Department of State Health Services (DSHS) and the Texas School Safety Center (TxSSC), the goal of this year's event on March 21, 2012, is to get every school in Texas involved in the effort to help children make healthy choices by not using tobacco.

    %p TTFKD is held in conjunction with Kick Butts Day, a national event sponsored by the Campaign for Tobacco-Free Kids. The day is an annual celebration of youth leadership and activism in tobacco prevention efforts. On Kick Butts Day, thousands of youth will organize activities to expose and counter the tobacco industry's powerful promotional strategies aimed at youth. Some of the past activities include youth-led rallies in state capitals, surveys of tobacco advertising in local stores and street activism events.

    %h2 Event Reporting

    %p There are two ways to report your event this year:

    %p One, <a href="/users/sign_in">log in</a> and register your project on the Say What! website to report using the built in reporting system. This option also allows you to apply for a $500 mini-grant to support your efforts!

    %p Two, <a href="http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/2012-Report.pdf"><strong>download</strong></a> the .pdf reporting form and fax it back in to us.

    %h2 Activity Guide

    %p We hope that you use these activity ideas and the other information on our website to conduct some really cool awareness events and activities! Also, we'd love to hear back from you about what you did and how everything went. Don’t forget to register for Say What! for even more activity and event ideas!

    %p Thanks for working toward a Tobacco-Free Texas! Remember to TAKE ACTION and HAVE FUN on March 21, 2012 - Texas Tobacco-Free Kids Day!

    %ul
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Project_1200_Jerseys.pdf" } 1200 Jerseys
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/City_Billboard.pdf" } City Billboard
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Educate_the_Masses.pdf" } Educate the Masses
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Flash_Mob.pdf" } Flash Mob
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Morning_Announcements.pdf" } Morning Announcements
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Petition.pdf" } Petition
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Smoke-free_Sit-Ins.pdf" } Smoke-Free Sit-Ins
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Write.pdf" } Write

      %p For additional activity ideas from the Campaign for Tobacco-Free Kids visit their website: <a href="http://www.kickbuttsday.org/resources/downloads.php">Kickbuttsday.org</a>

    %h2 Get The Word Out!

    %p Feel free to use these materials to let everyone know what you are doing.

    %ul
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Blank_Media_Advisory.doc" } Media Advisory
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Blank_Press_Release.doc" } Press Release

    %h2 Educate the Masses

    %p Use these presentations as a foundation to build an educational presentation for elementary, junior high or high school students.

    %ul
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Tobacco-101-Elem.ppt" } Tobacco 101 Elementary
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Tobacco-101-JH-HS.pptx" } Tobacco 101 JH - HS
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Tobacco-101-JH-HS-Facilitator-Guide.doc" } Tobacco 101 JH - HS Facilitator Guide

    %h2 Cool Stuff

    %p Please feel free to use these logos and templates to put on any promotional items, forms, or flyers for your planned Texas Tobacco-Free Kids Day events and activities.

    %ul
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/TTFKD-Logo.jpg" } 2012 TTFKD Logo
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/SayWhat-Logo.jpg" } SayWhat! Logo
      %li
        %a{ target: "_blank", href: "http://txssc.txstate.edu/media/SI/downloads/TobFreeKids/Say-What-Brand-Parameters.pdf" } Say What Brand Parameters
