- if current_user

  %h2
    Upcoming Projects:
  
  - if @projects[:upcoming].any?
    = list_projects(@projects[:upcoming])
  - else
    %p
      No upcoming projects scheduled
          
%h2
  Completed Projects:
  
- if @projects[:completed].any?
  = list_projects(@projects[:completed])
- else
  %p
    No projects have been completed yet