- if can? :create, Grant.new({ project: @project })
  %p= link_to "Apply for a grant", new_group_project_grant_url(@group, @project), :class => "btn info" unless @project.grant

%ul#profile_menu.menu
  %li
    %a#wall{ href: '#' }
      = image_tag '181-hammer.png', width: 10
      %span Wall
  %li
    %a#info{ href: '#' }
      = image_tag '181-hammer.png', width: 10
      %span Info
  %li
    %a#photos{ href: group_project_photos_path(@group, @project) }
      = image_tag '181-hammer.png', width: 10
      %span Photos