%ul#profile_menu
  %li
    %a{ href: group_project_path(@group, @project) }
      = image_tag '181-hammer.png', width: 10
      %span Info
  %li
    %a{ href: group_project_photos_path(@group, @project) }
      = image_tag '181-hammer.png', width: 10
      %span Photos