= title "Start A New Project"

.row
  %section.span4.form-description
    %h2.heading Create a New Say What! Project

    %p Pariatur nostrud tofu raw denim. Eiusmod reprehenderit helvetica occaecat single-origin coffee scenester. Brooklyn before they sold out veniam aliquip, sint aliqua fugiat terry richardson. Commodo seitan cred brooklyn nesciunt nostrud minim bicycle rights. Quis proident eu biodiesel mcsweeney's mlkshk nesciunt. Jean shorts reprehenderit magna wes anderson nisi banh mi. PBR high life leggings esse dolore salvia vinyl. 
        

  %section.span11.offset1
    %fieldset
      %legend Say What! Project Form

      = form_for([@group, @project], :url => group_projects_path(@group.permalink, @project)) do |f|

        = errors_for(@group, "error", "<strong>Uh-Oh! There was an error!</strong> try fixing the fields below and try again.").html_safe

        = render :partial => 'form', :locals => { f: f }

        .actions
          %input{:type => "submit", :class => "btn primary", :value => "Create Project"}