#modalWindow
  %p.main Are you sure you want to deny this grant application?
  
  %p
    Reason:
    %select#deniedReasons
      %option{:value => ""}
      - @reasons.each do |reason|
        %option{:value => reason['name']}= reason['short_text']
        
  %p.options.group
    = link_to "Deny Grant", "/admin/grants/#{params[:id]}", :method => :post, :class => 'deny'
    = link_to "Cancel", "#", :id => 'cancel'
    
:javascript
  $('a#cancel').click(function(){
  $.facebox.close();
  });
  $("#modalWindow select").change(function(){
  var selectedValue = $(this).find(":selected").val();
  var url = $('a.deny').attr('href');
  var newUrl = build_dynamic_url(url, selectedValue);
  $('a.deny').attr('href', newUrl);
  });