.row
  %section
    %h2.heading Pending Grant Applications

    - if @grants.empty?
      .alert-message.block-message.success
        %p <strong>Good Job</strong> There are currently no pending grant requests. Time for a vacation!

    - else
      = render :partial => "grants_table"