.block
  .secondary-navigation
    %ul.wat-cf
      %li.first <a href="/admin/grants">Awarded</a>
      %li.last.active <a href="/admin/grants/pending">Pending</a>
      
  .content
    .group
      %h2.title.left Pending Grants
        
    .inner
      - if @grants.empty?
        %p No Grants
      - else
        %div#groupsTable.adminTableView
          = render :partial => "grants_table"