.block
  .secondary-navigation
    %ul.wat-cf
      %li.first <a href="/admin/groups">Active</a>
      %li.last.active <a href="/admin/group_requests">Pending</a>
      
  .content
    %h2.title All Group Requests
    .inner
      - if @groups.empty?
        %p No pending group requests
      - else
        %div#requestsTable.adminTableView
          = render :partial => "requests_table"