%tr
  %th Group Name
  %th Sponsor Name
  %th.last Sponsor Email
- @groups.each do |group|
  %tr{:class => cycle("odd", "even")}
    %td= link_to group.display_name, "/admin/requests/#{group.id.to_s}"
    %td= group.users.first.name
    %td= group.users.first.email