%div#about

  %article
  
    %h4 Your Application Has Been Submitted 
      
    %p Your application is now under consideration. We will contact you within 5 business days about the status of your application. If you have not heard from our office within 5 working days, please email <a href="mailto:admin@txsaywhat.com">admin@txsaywhat.com</a>.

    %p
      %strong Ruby Moore
      %br Program Manager, Student Initiatives
      Texas School Safety Center
      %br rm72@txstate.edu
      877-304-2727