%div#about

  %article
  
    %h4 Your Application Has Been Submitted 
      
    %p
      %a{:href => "/minigrant/files/vmf.pdf"}
        %strong Download the Texas State Vendor Maintenance Form
      and fax to TxSSC (Attn: Lindy Narvaiz) at 512-245-1465. Your application will not be considered complete until we receive the Vendor Maintenance Form.

    %p
      TxSSC will mail you a contract and payment voucher. Sign where indicated and mail back to TxSSC in the provided envelope. Texas State University will provide payment within 30 days.

    %p
      %strong Ruby Moore
      %br Program Manager, Student Initiatives
      Texas School Safety Center
      %br rm72@txstate.edu
      877-304-2727