- if THEME['static_resources']
  %ul#smallResourceNav.group
    %li
      %a{:href => "/resources/downloads"} Downloads
    %li
      %a{:href => "/grants"} Mini-Grants
    %li
      %a{:href => "/resources/links"} Media Campaigns

%div#about

  %article.group
  
    %div.text.left

      %h4 Available: 

      %p
        %strong $500 per mini-grant for groups participating in the Say What! Youth Movement.

      %p
        The Texas Department of State Health Services has provided funding for groups participating in the Say What! Youth Movement to assist them in promoting the movement within their community or school. The project must be mainly youth-initiated and youth-led; however youth must be working with at least one adult supervisor or sponsor.
  
  %article
  
    %h4 All Projects Must:
    
    %ul
      %li Relate to youth tobacco prevention or cessation;
      %li Incorporate positive youth development and significant leadership opportunities for youth participants;
      %li Allow for partnerships between area youth groups to participate in the planning and implementation;
      %li Demonstrate a commitment to building community / school partnerships;
      %li Develop skills among or provide information to youth participants;
      %li Promote a tobacco prevention awareness message;
      %li Promote the Say What! Youth Movement.

  %article
  
    %h4 Timeline:

    %table
      %tr
        %td <strong>January 19, 2011</strong>
        %td Applications available for submission
      %tr
        %td <strong>July 31, 2011</strong>
        %td Grant Applications due by close of business (funds will be awarded as applications are approved)
      %tr
        %td <strong>August 25, 2011</strong>		
        %td Project must be completed and reported to TxSSC by August 25.

    %p You may request any amount up to $500 to support your project.

  %article

    %h4 Application Process:
    
    %ol
      %li Complete the Online Application for funding
      %li TxSSC will notify you if your grant has been accepted within 5 business days. You will receive a check within 10 business days of acceptance notification.
      %li Fax TxSSC the check receipt verification form.
      %li Report your project before August 25, 2011.

  %article.group
  
    %div.text.left
  
      %h4 For More Information Contact:

      %p
        %strong Ruby Moore
        %br Program Manager, Student Initiatives
        Texas School Safety Center
        %br rm72@txstate.edu
        877-304-2727

    %div.button.right
      %a{:href => "/grants/apply"}
        Apply for Grant