%div#about

  %article.group
  
    %div.text.left

      %h4 Available: 

      %p
        %strong $500 per mini-grant for groups participating in the Say What! Youth Movement.

      %p
        The Texas Department of State Health Services has provided funding for groups participating in the Say What! Youth Movement to assist them in promoting the movement within their community or school. The project must be mainly youth-initiated and youth-led; however youth must be working with at least one adult supervisor or sponsor.

    %div.button.right
      %a{:href => "/grants/apply"}
        Apply for Grant
  
  %article
  
    %h4 All Projects Must:
    
    %ul
      %li Relate to youth tobacco prevention or cessation;
      %li Incorporate positive youth development and significant leadership opportunities for youth participants;
      %li Allow for partnerships between area youth groups to participate in the planning and implementation;
      %li Demonstrate a commitment to building community / school partnerships;
      %li Develop skills among or provide information to youth participants;
      %li Promote a tobacco prevention awareness message;
      %li Promote the Say What! Youth Movement.

  %article
  
    %h4 Timeline:

    %table
      %tr
        %td January 19, 2011	
        %td Applications available for submission
      %tr
        %td March 14, 2011 	
        %td Grant Applications due by close of business
      %tr
        %td April 15, 2011		
        %td Funds will be awarded between February 1 and April 15
      %tr
        %td May 31, 2011		
        %td Project must be completed and reported to TxSSC by June 15.

    %p
      You may request any amount up to $500 to support your project. You will have until May 31, 2011 to complete the project. Reports are due to the Texas School Safety Center no later than 
      %strong June 15, 2011.

  %article

    %h4 Application Process:
    
    %ol
      %li Complete the Online Application for funding
      %li 
        %a{:href => "/minigrant/files/vmf.pdf"}
          %strong Download the Texas State Vendor Maintenance Form 
        and fax to TxSSC (Attn: Lindy Narvaiz) at 512-245-1465. Your application will not be considered complete until we receive the Vendor Maintenance Form.
      %li TxSSC will mail you a contract and payment voucher. Sign where indicated and mail back to TxSSC in the provided envelope.
      %li Texas State University will provide payment within 30 days.

  %article.group
  
    %div.text.left
  
      %h4 For More Information Contact:

      %p
        %strong Ruby Moore
        %br Program Manager, Student Initiatives
        Texas School Safety Center
        %br rm72@txstate.edu
        877-304-2727

    %div.button.right
      %a{:href => "/grants/apply"}
        Apply for Grant