!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title SayWhat! Grants
    %link{:href => "/minigrant/css/main.css", :media => "screen", :rel => "stylesheet"}
    
    %script{:src => "/assets/modernizr.2.0.6.custom.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    %script{:src => "/minigrant/js/functions.js"}
  
  %body
  
    %div#top
      %span
        %a{:href => "/"}
          &laquo; back to SayWhat!

    %header.group
      %h1.left
        %a{:href => "/"}
          SayWhat!
          
      %h3.right
        Mini-Grant Application

    %div#content.group
      = yield
    
    
    

