#aboveFold {
	height: 465px;
	background: image-url("homeYeti.png") no-repeat bottom right;
	h2 {		
		width: 400px;
		font-size: 35px;
		margin: 0 0 25px 0;
	}
	p {
		color: #ccc;
		font-size: 16px;
		width: 450px;
	}
	a {
		display: block;
		width: 400px;
		margin: 45px 0 0 0;
		font-size: 25px;
	  text-align: center;
	  padding: 16px 22px;
	  border: 1px solid #527726;
	  color: #fff;
	  font-weight: bold;
		@include rounded(4px);
		@include green-gradient();
		text-shadow: 0 -1px 0 #4e7a2c;
		.ie6 & {color: #222;}
	}
	
	a:hover { @include green-gradient-reverse(); }
}

#landingDesc {
	width: 550px;
	h3 {
		font-size: 24px;
		margin: 15px 0 15px 0;
		color: #222;
	}
	p {
		strong { font-size: 26px; color: #A0CF67;}
		margin: 10px 0 10px 12px;
		font-size: 15px;
	}
}

#landingProjects {
	width: 350px;
	h3 {
		font-size: 26px;
	}
	
	li {
		margin: 25px 0;
		img {
			padding: 4px;
			border: 1px solid #cdcdcd;
		}
		a.projectName {
			display: block;
			font-weight: bold;
			color: #222;
			font-size: 18px;
		}
		a.projectGroup {
			display: block;
			font-weight: bold;
			color: #A0CF67;
			font-size: 15px;
			margin: 5px 0;
		}
	}
}