#projectStats {
	background: #231f20 image-url("desc-shadow.png") top repeat-x;
	width:100%;
	margin: 0;
	padding: 15px 0;
	
	ul#stats {
		#completed { width: 150px; }
		.people { width: 255px; }
		li {
			color: #ccc;
			float: left;
			margin: 28px 50px;
			font-size: 16px;
			font-weight: bold;
			text-align: right;
			text-transform: uppercase;
			.ie6 & { margin: 28px 30px 50px 30px; }
			strong {
				display: block;
				margin: 0 0 10px 0;
			}
			span {
				@include rounded();
				background: #080808;
				padding: 6px 15px;
				font-size: 55px;
				letter-spacing: 0.05em;
				font-weight: bold;
				color: #fff;
				.ie6 & { padding: 6px 2px 6px 16px;}
			}
		}
	}
}

#projectStart {
	background: #C0DD92;
	padding: 16px 0;
	
	a {
		display: block;
		width: 300px;
		margin: 12px auto;
		text-transform: capitalize;
		font-size: 16px;
	  text-align: center;
	  padding: 8px;
	  border: 1px solid #5E9732;
	  color: #222;
	  font-weight: bold;
		@include rounded(4px);
		@include green-gradient();
		text-shadow: -1px 1px 2px #e5e5e5;
	}
	p {
		width: 600px;
		.ie6 & { width: 580px; margin-left: 360px; padding-left: 0;}
		padding-left: 360px;
		color: #080808;
		font-size: 16px;
		margin: 0;
		color: #666;
	}
	p.big {
		color: #222;
		font-weight: bold;
		font-size: 18px;
	}
}

#groupProjects {
	margin-top: 25px;
	h2 { color: #222; }
	p {
		font-size: 20px;
		text-align: center;
		margin: 40px 0;
		color: #ccc;
	}
}

ul.projectsList {
	margin:0 0 50px 0;
  li {
    float:left;
		width:200px;
		height: 175px;
    margin:25px;

		img {
			margin:0 0 8px 0;
			display:block;
			padding: 4px;
			background: #fff;
			border: 1px solid #ddd;
		}
		
		a { color: #222; font-weight: bold;}
		span {
			display: block;
			a { color: #A0CF67;}
		}
  }
	
	.nthLeft { margin-left: 0;}
	.nthRight { margin-right: 0;}
}

/* Project Form */
#projectForm {
	color: #3B3B3B;
	label { font-weight: bold; }
	fieldset {
		border: 1px solid #cdcdcd;
		padding: 12px;
	}
	.vitals {
		width: 52%;
		input { width: 90%; }
	}
	.avatar {
		width: 40%;
	}
	.auxDetails {
		margin: 25px 0;
		input { width: 150px; }
		select { font-size: 13px; }
		input, select { margin: 0 50px 0 0; }
	}
	textarea {
		width:98%;
		height:150px;
	}
}

/* All Projects */
#projectFiltering {
	background: #e1f0ce;
	border: 1px solid #c0df9b;
	padding: 12px;
	p {
		float: left;
		margin: 0 35px 0 0;
		label { 
			font-size: 13px; 
			margin: 0;
			font-weight: normal;
		}
	}
	button { float: left;}
}
