/* Override here any style defined by web-app-theme */

#adminHeader {
	background: #231f20 url('/img/desc-shadow.png') top repeat-x;
	width:100%;
	padding: 25px 0 0 0;
	margin: 0 0 25px 0;
}

.inner h3 {
	border-bottom: 1px solid #d9dbdd;
	padding-bottom: 10px;
	margin: 15px 0;
}

.inner label { 
	float: left; 
	width: 100px;
	text-align: right;
	margin-right: 15px;
}

.inner p input, .inner p textarea { padding: 3px; }

.inner p.block b { display: block; }

.table a { text-decoration: underline; }

#modalWindow {
	width: 400px;
	padding: 12px;
}

	#modalWindow p {
		font-size: 14px;
		color: #343434;
		text-align: center;
	}
	
		#modalWindow p.main {
			display: block;
			font-weight: bold;
			font-size: 18px;
			padding-bottom: 15px;
			color: #121212;
		}
		
		#modalWindow p select {
			display: block;
			padding: 8px;
			font-size: 16px;
			margin: 15px auto;
			width: 375px;
		}
		
		#modalWindow p.options {
			margin: 25px 0 0 0;
			padding-top: 25px;
			border-top: 1px solid #cdcdcd;
		}
		
			#modalWindow p.options button {
				border: none;
				font-family: helvetica, arial, sans-serif;
				font-size: 18px;
				color: #36393D;
			}
		
			#modalWindow p.options a, #modalWindow p.options button {
				cursor: pointer;
				display: block;
				float: left;
				padding: 8px 12px;
				font-size: 18px;
				margin: 0 25px;
				text-decoration: none;
				
				border:1 px solid #454545;
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				border-radius:5px;
				background: -moz-linear-gradient(top, #e8e8e8, #dcdcdc);
				background: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#dcdcdc));
				background: -o-linear-gradient(top, #e8e8e8, #dcdcdc);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#dcdcdc');
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#dcdcdc')";
				background: linear-gradient(top, #e8e8e8, #dcdcdc);
				
			}

.inner p img { float: left; }
			
.avatarOptions {
  float: left;
  margin-left: 20px;
}
	.avatarOption {
		display: block;
		margin: 8px 0;
	}

	.avatarUpload { display: none;}
	
		.avatarUpload input {
			border: none;
			font-size: 14px;
			font-weight: normal;
		}
		
/* Dashboard */

.dashBox {
	float: left;
	width: 25%;
	margin: 0 20px;
}
	
	.dashBox a {
		display: block;
		margin: 0 0 12px 0;
		font-size: 16px;
		text-decoration: none;
	}
	
		.dashBox a strong { color: #a2ce3d; }

	#main .block .content .dashBox p {
		font-size: 16px;
		padding: 0 8px;
	}
	
		.dashBox p strong, .dashBox a strong {
			font-size: 26px;
			margin-right: 15px;
		}