%div#resourceWrap.inner

  %ul#smallResourceNav.group
    %li
      %a{:href => "/resources/downloads"} Downloads
    %li
      %a{:href => "/grants"} Mini-Grants
    %li
      %a{:href => "/resources/links"} Media Campaigns
      
  
  %h2 
    Resources
    %span Downloads
      
  
  %div#galleryLayout
  
    %p
      Each image has three different size .jpeg downloads for use on different size print jobs. If you are using the images for a t-shirt design, please make sure you send the .pdf version of the image to your printer when you send them the files! 
      
    %p
      %strong 
        Be sure to read the logo use guides:
        %a{:href => "/resources/files/OTPC_10017_Brand Parameters_Final.pdf"} Logo Use Guide (11mb PDF)
      
    %p
      For questions or for a different color than what is posted, email 
      %a{:href => "mailto:info@txsaywhat.com"}
        %strong info@txsaywhat.com
        
    %ul.galleryDownloads
      %li
        %img{:src => "/resources/img/downloads/logo-sm.jpg", :width => "144", :height => 144}
        %strong Say What Logo
        %ul
          %li
            %a{:href => "/resources/files/logo/logo-sm.jpg"} Small
          %li
            %a{:href => "/resources/files/logo/logo-med.jpg"} Medium
          %li
            %a{:href => "/resources/files/logo/logo-lrg.jpg"} Large
          %li
            %a{:href => "/resources/files/logo/logo.pdf"} PDF
            
      %li
        %img{:src => "/resources/img/downloads/leon-blk.jpg", :width => "144", :height => 144}
        %strong Leon Black
        %ul
          %li
            %a{:href => "/resources/files/leon-blk/Leon_Black_2x2.jpg"} Small
          %li
            %a{:href => "/resources/files/leon-blk/Leon_Black_4x4.jpg"} Medium
          %li
            %a{:href => "/resources/files/leon-blk/Leon_Black_8x8.jpg"} Large
          %li
            %a{:href => "/resources/files/leon-blk/Leon_Black.pdf"} PDF
            
      %li
        %img{:src => "/resources/img/downloads/leon-black-blue.jpg", :width => "144", :height => 144}
        %strong Leon Black &amp; Blue
        %ul
          %li
            %a{:href => "/resources/files/leon-black-blue/Leon_BlackNBlue_2x2.jpg"} Small
          %li
            %a{:href => "/resources/files/leon-black-blue/Leon_BlackNBlue_4x4.jpg"} Medium
          %li
            %a{:href => "/resources/files/leon-black-blue/Leon_BlackNBlue_8x8.jpg"} Large
          %li
            %a{:href => "/resources/files/leon-black-blue/Leon_BlackNBlue.pdf"} PDF
            
      %li
        %img{:src => "/resources/img/downloads/leon-black-green.jpg", :width => "144", :height => 144}
        %strong Leon Black &amp; Green
        %ul
          %li
            %a{:href => "/resources/files/leon-black-green/Leon_BlackNGreen_2x2.jpg"} Small
          %li
            %a{:href => "/resources/files/leon-black-green/Leon_BlackNGreen_4x4.jpg"} Medium
          %li
            %a{:href => "/resources/files/leon-black-green/Leon_BlackNGreen_8x8.jpg"} Large
          %li
            %a{:href => "/resources/files/leon-black-green/Leon_BlackNGreen.pdf"} PDF
            
      %li
        %img{:src => "/resources/img/downloads/leon-black-purple.jpg", :width => "144", :height => 144}
        %strong Leon Black &amp; Purple
        %ul
          %li
            %a{:href => "/resources/files/leon-black-purple/Leon_BlackNPurple_2x2.jpg"} Small
          %li
            %a{:href => "/resources/files/leon-black-purple/Leon_BlackNPurple_4x4.jpg"} Medium
          %li
            %a{:href => "/resources/files/leon-black-purple/Leon_BlackNPurple_8x8.jpg"} Large
          %li
            %a{:href => "/resources/files/leon-black-purple/Leon_BlackNPurple.pdf"} PDF
            
      %li
        %img{:src => "/resources/img/downloads/leon-blue.jpg", :width => "144", :height => 144}
        %strong Leon Blue
        %ul
          %li
            %a{:href => "/resources/files/leon-blue/Leon_Blue_2x2.jpg"} Small
          %li
            %a{:href => "/resources/files/leon-blue/Leon_Blue_4x4.jpg"} Medium
          %li
            %a{:href => "/resources/files/leon-blue/Leon_Blue_8x8.jpg"} Large
          %li
            %a{:href => "/resources/files/leon-blue/Leon_Blue.pdf"} PDF
            
      %li
        %img{:src => "/resources/img/downloads/leon-green.jpg", :width => "144", :height => 144}
        %strong Leon Green
        %ul
          %li
            %a{:href => "/resources/files/leon-green/Leon_Green_2x2.jpg"} Small
          %li
            %a{:href => "/resources/files/leon-green/Leon_Green_4x4.jpg"} Medium
          %li
            %a{:href => "/resources/files/leon-green/Leon_Green_8x8.jpg"} Large
          %li
            %a{:href => "/resources/files/leon-green/Leon_Green.pdf"} PDF
            
      %li
        %img{:src => "/resources/img/downloads/leon-orange.jpg", :width => "144", :height => 144}
        %strong Leon Orange
        %ul
          %li
            %a{:href => "/resources/files/leon-orange/Leon_Orange_2x2.jpg"} Small
          %li
            %a{:href => "/resources/files/leon-orange/Leon_Orange_4x4.jpg"} Medium
          %li
            %a{:href => "/resources/files/leon-orange/Leon_Orange_8x8.jpg"} Large
          %li
            %a{:href => "/resources/files/leon-orange/Leon_Orange.pdf"} PDF
            
      %li
        %img{:src => "/resources/img/downloads/leon-pink.jpg", :width => "144", :height => 144}
        %strong Leon Pink
        %ul
          %li
            %a{:href => "/resources/files/leon-pink/Leon_Pink_2x2.jpg"} Small
          %li
            %a{:href => "/resources/files/leon-pink/Leon_Pink_4x4.jpg"} Medium
          %li
            %a{:href => "/resources/files/leon-pink/Leon_Pink_8x8.jpg"} Large
          %li
            %a{:href => "/resources/files/leon-pink/Leon_Pink.pdf"} PDF
            
      %li
        %img{:src => "/resources/img/downloads/leon-purple.jpg", :width => "144", :height => 144}
        %strong Leon Purple
        %ul
          %li
            %a{:href => "/resources/files/leon-purple/Leon_Purple_2x2.jpg"} Small
          %li
            %a{:href => "/resources/files/leon-purple/Leon_Purple_4x4.jpg"} Medium
          %li
            %a{:href => "/resources/files/leon-purple/Leon_Purple_8x8.jpg"} Large
          %li
            %a{:href => "/resources/files/leon-purple/Leon_Purple.pdf"} PDF
            
      %li
        %img{:src => "/resources/img/downloads/leon-yellow.jpg", :width => "144", :height => 144}
        %strong Leon Yellow
        %ul
          %li
            %a{:href => "/resources/files/leon-yellow/Leon_Yellow_2x2.jpg"} Small
          %li
            %a{:href => "/resources/files/leon-yellow/Leon_Yellow_4x4.jpg"} Medium
          %li
            %a{:href => "/resources/files/leon-yellow/Leon_Yellow_8x8.jpg"} Large
          %li
            %a{:href => "/resources/files/leon-yellow/Leon_Yellow.pdf"} PDF