%div#resourceWrap

  %h2 Resources

  %p
    Click on one of the resource types below for access to graphics, designs and other information to help you promote Say What! in your community.

  %ul#largeResourceNav.group
    %li
      %a{:href => "/resources/downloads"} Downloads
    
    - if THEME['minigrant_app']
      %li 
        %a{:href => "/grants"} Mini-Grant
            
    %li
      %a{:href => "/resources/links"} Media Campaigns