%div#resourceWrap.inner

  %ul#smallResourceNav.group
    %li
      %a{:href => "/resources/downloads"} Downloads
    
    - if CONFIG['minigrant_app']
      %li
        %a{:href => "/grants"} Mini-Grants
    
    %li
      %a{:href => "/resources/links"} Media Campaigns
      
  
  %h2 
    Resources
    %span Links
      
  
  %div#galleryLayout
  
    %p
      %em Please note: clicking on the links below will take you to an outside website not maintained by the Texas School Safety Center
      
    %p
      %strong Check out these websites for more information about tobacco prevention media campaigns in Texas:
      
    %ul.linkList
      %li
        %a{:href => "http://www.DUCKTexas.org"} DUCK Campaign 
      %li
        %a{:href => "http://www.worthit.org"} Worth It? Campaign
      %li
        %a{:href => "http://www.shareair.org"} Share Air Campaign
        
    
    %p
      %strong For statistics and other great information:

      %ul.linkList
        %li
          %a{:href => "http://www.smokefreetexas.org"} SmokeFree Texas 
        %li
          %a{:href => "http://www.tobaccofreekids.org"} Campaign for Tobacco Free Kids 
        %li
          %a{:href => "http://www.kickbutts.org"} Kick Butts Day 
        
        