%header#pageHeader
  #innerHeader.group
    %h1.left
      %a{:href => "/"} SayWhat!
    
    #mainNav.right.group
      = render :partial => "layouts/partials/static_links"
      = render :partial => "layouts/partials/dropdown"