@import url('base.css');

/* Layout */

#top {
	width: 100%;
	background: #A0CF67;
	border-bottom: 1px solid #88c340;
}

	#top span {
		display: block;
		width: 940px;
		padding: 8px 10px;
		margin: 0 auto;
	}
	
		#top span a {
			color: #222;
			font-weight: bold;
			font-size: 16px;
			padding: 4px 8px;
		}

header, #content {
	width: 940px;
	margin: 0 auto;
}

header {
	padding: 0 20px 25px 20px;
	border-bottom: 1px solid #aaa;
}

	header h1 {
		text-indent: -9999em;
    margin: 8px 0 0 0;
	}
	
		header h1 a {
			display: block;
    	width: 316px;
    	height: 144px;
    	background: url("../img/logo.png") no-repeat;
		}

	header h3 {
		font-size: 26px;
		line-height: 144px;
		margin: 0 100px 0 0;
	}

#content { padding: 20px 20px 0 20px; }

/* Home Page */

#about h4 {
	font-size: 20px;
	margin-bottom: 20px;
}

#about article { margin-bottom: 35px;}

#about article .text {
	width: 65%;
}

#about article .button {
	width: 25%;
	margin: 55px 0 0 0;
}

	#about article .button a {
		display: block;
		font-size: 18px;
	  text-align: center;
	  padding: 8px;
	  border: 1px solid #5E9732;
	  color: #222;
	  font-weight: bold;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  border--radius: 4px;
	  background: #A0CF67;
	  background: -moz-linear-gradient(top, #a0cf67 0%, #88c340 45%, #76ab36 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0cf67), color-stop(45%, #88c340), color-stop(100%, #76ab36));
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0CF67', endColorstr='#76AB36',GradientType=0 );
	  text-shadow: -1px 1px 2px #e5e5e5;
	}

#about ul, ol { margin-bottom: 20px; }

	#about ul li {
		font-size: 14px;
		list-style: disc;
		margin: 8px 0 8px 35px;
	}
	
	#about ol li {
		font-size: 14px;
		list-style: decimal;
		margin: 8px 0 8px 35px;
	} 

	#about table {
		font-size: 14px;
		margin: 0 0 20px 0;
	}
	
		#about table tr {	margin: 8px 0; }

		#about td { padding: 8px 25px 8px 0; }
		
/* Form */

ul#errors {
	width: 960px;
	margin: 0 auto;
}

	#errors li {
		color: #a62828;
		font-size: 14px;
		margin: 5px 0;
	}

.step {
	width: 720px;
	margin: 0 auto;
}

	.stepHeader {
		margin: 0 0 25px 0;
	}

		.stepHeader h2 {
			color: #222;
			font-size: 32px;
			float:left;
			text-shadow: 0 1px 2px #fff;
		}
		
		.stepHeader span {
			float: right;
			display: block;
			font-size: 35px;
			font-weight: bold;
			color: #a0cf67;
			text-shadow: 0 1px 2px #fff;
		}
	
	.step p {
		padding: 0 32px;
	}
	
		.step p label {
			display: block;
			font-size: 16px;
			font-weight: bold;
			margin: 0 0 8px 0;
		}
		
			.step p label span, .step p em {
				font-size: 14px;
				font-weight: normal;
				color: #999;
			}
		
		.step p input, .step p textarea {
			border: 1px solid #cdcdcd;
		} 
		
			.step p textarea {
				width: 100%;
				height: 100px;
			}
		
			.step p.big input {
				font-size: 28px;
				padding: 10px;
				width: 100%;
			}
		
		/* Buttons */
			
		.step p.buttons {
			text-align: center;
			margin: 55px 0;
		}
		
			.step p.buttons a, .step p.buttons input[type="submit"] {
				border: none;
				padding: 8px 25px;
				margin: 20px;
				font-weight: bold;
				line-height: 1;
				color: #222;
				background: #cdcdcd;
				-webkit-border-radius: 18px;
				-moz-border-radius: 18px;
				-o-border-radius: 18px;
				border-radius: 18px;
				text-shadow: 0 1px 1px rgba(255,255,255,0.85);
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
				box-shadow: 0 1px 2px rgba(0,0,0,0.5);
			}
			
				.step p.buttons a.next, .step p.buttons input[type="submit"] {
					background: #A0CF67; /* old browsers */
					background: -moz-linear-gradient(top, #A0CF67 0%, #7FB83A 100%); /* firefox */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A0CF67), color-stop(100%,#7FB83A)); /* webkit */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A0CF67', endColorstr='#7FB83A',GradientType=0 ); /* ie */
				}
				
		/* Floats */
		
		.step .float {
			width: 49%;
		}
		
			.step .float h3 {
				margin: 0 0 15px 0;
			}
		
			.step .float p {
				padding: 0 8px;
			}
			
				.step .float.left {
					border-right: 1px solid #cdcdcd;
				}
			
				.step .float p input, .step .float p textarea {
					font-size: 16px;
					padding: 6px;
					width: 90%;
				}